# .NET
SQL/
bin/
obj/
*.user
*.vs
*.suo
*.userosscache
*.sln.docstates
SignalRTestConsole

# Migrations
Migrations/

# Angular / Node
node_modules/
dist/
tmp/
npm-debug.log*
SyntaxCore_Angular/README.md
SyntaxCore_Angular/CHANGELOG.md
SyntaxCore_Angular/.editorconfig
# Environment
.env
*.env
