@use "connection";
:host {
  @include connection.flexCenter(row);
}

.terminal {
  position: relative;
  box-sizing: border-box;
  padding: 10px;
  max-height: 20vh;
  background: connection.$consoleColor;
  border-radius: 5px;
  min-width: 350px;
  width: 40vw;
  // BORDER GRADIENT
  $border: 2px;
  border: solid $border transparent;
  background-clip: padding-box;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: -1;
    margin: -$border;
    border-radius: inherit;
    background: linear-gradient(135deg, #5170ff, #ffa3ff);
  }


  .output {
    flex: 1;
    overflow-y: auto;
    padding-right: 5px;
    white-space: pre-wrap;
    line-height: 1.4;
    color: #c7c7c7;
  }

  .input-line {
    display: flex;
    flex-direction: column;
    scroll-behavior: smooth;
    max-height: 17vh;
    text-align: left;
    overflow-y: scroll;
    font-weight: bold;
    // Chrome, Edge, Safari
    &::-webkit-scrollbar {
      width: 0;
      height: 0;
    }

    &::-webkit-scrollbar-thumb {
      background: transparent;
    }

    scrollbar-width: none;
    scrollbar-color: transparent transparent;

    .prompt {
      flex-wrap: nowrap;
      color: connection.$promptColor;
    }

    .cmdline {
      margin-left: 5px;
      flex: 1;
      min-width: 0;
      color: #e5e5e5;
      min-height: 20px;
      outline: none;
      background: transparent;
      border: none;
      font-weight: bold;
      pointer-events: auto;
    }
  }
}
