:host {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.terminal {
  position: relative;
  box-sizing: border-box;
  padding: 10px;
  max-height: 20vh;
  background: #11121b;
  border-radius: 5px;
  min-width: 350px;
  width: 40vw;
  border: solid 2px transparent;
  background-clip: padding-box;
}
.terminal::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  margin: -2px;
  border-radius: inherit;
  background: linear-gradient(135deg, #5170ff, #ffa3ff);
}
.terminal .output {
  flex: 1;
  overflow-y: auto;
  padding-right: 5px;
  white-space: pre-wrap;
  line-height: 1.4;
  color: #c7c7c7;
}
.terminal .input-line {
  display: flex;
  flex-direction: column;
  scroll-behavior: smooth;
  max-height: 17vh;
  text-align: left;
  overflow-y: scroll;
  font-weight: bold;
  scrollbar-width: none;
  scrollbar-color: transparent transparent;
}
.terminal .input-line::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.terminal .input-line::-webkit-scrollbar-thumb {
  background: transparent;
}
.terminal .input-line .prompt {
  flex-wrap: nowrap;
  color: #5170ff;
}
.terminal .input-line .cmdline {
  margin-left: 5px;
  flex: 1;
  min-width: 0;
  color: #e5e5e5;
  min-height: 20px;
  outline: none;
  background: transparent;
  border: none;
  font-weight: bold;
  pointer-events: auto;
}
